#include <windows.h>

101 DIALOGEX 0, 0, 300, 200
STYLE DS_CENTER | WS_CAPTION | WS_THICKFRAME | WS_MAXIMIZEBOX
CAPTION "Lua Executor"
FONT 9, "MS Shell Dlg"
BEGIN
    LTEXT "Lua Code:", -1, 10, 10, 280, 30
    EDITTEXT 1001, 10, 30, 280, 120, ES_MULTILINE | WS_VSCROLL | WS_TABSTOP | WS_BORDER | ES_WANTRETURN
    PUSHBUTTON "Execute", 1002, 110, 150, 80, 25

END

